header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.headerTitle {
  padding: 1rem;
  text-align: center;
}
